<li data-goal-id="{{ goal.id }}" aria-hidden="{{#if goal.isTodo }}false{{else}}true{{/if}}" class="profile-goals__list-item" data-status="{{ goal.status }}">
	<div class="row">
		<div class="small-12 column">

			<span class="icon-circle profile-goals__times-completed">{{ goal.timesLeft }}</span><span class="profile-goals__activity" id="profileGoalActivity">{{ goal.activity}}</span>

			<a href="/actions/profiler/goal/doneActivity?goalId={{ goal.id }}" class="btn btn-default btn-sm profile-goal__action-link" data-goal-status="{{ goal.status }}" data-times-per-week="{{ goal.timesPerWeek }}" data-times-completed="{{ goal.timesCompleted }}" data-goal-action="complete"><span class="show-for-sr">Complete activity</span><span class="ss-icon ss-icon-circle ss-check"></span></a>

			<a href="/actions/profiler/goal/delete-goal?goalId={{ goal.id }}" class="btn btn-default btn-sm profile-goal__action-link" data-goal-action="delete"><span class="show-for-sr">Delete activity'</span><span class="ss-icon ss-icon-circle ss-delete"></span></a>
		</div>
	</div>
</li>