<li data-goal-id="{{ goal.id }}" aria-hidden="{{#if goal.isTodo }}false{{else}}true{{/if}}" class="profile-goals__list-item" data-status="{{ goal.status }}">
	<div class="row">
		<div class="small-12 column">

			<span class="profile-goals__activity">{{ goal.activity}}</span>

			<a href="/actions/profiler/goal/reset-activity?goalId={{ goal.id }}" class="btn btn-default btn-sm profile-goal__action-link" data-goal-action="undo"><span class="show-for-sr">Reset activity</span><span class="ss-icon ss-icon-circle ss-replay"></span></a>
		</div>
	</div>
</li>