<h1 class="show-for-print text-center" width="100%" height="50">
		{% include "_images/logo_dark_" ~ craft.app.language ~ ".svg" %}
</h1>

<header id="header" class="hide-on-print">
	
	<nav class="header-bar">
		<div class="header-bar-column">
			{% if hideMainMenu is not defined %}
				<section>
					<ul class="menu-inline-list">
							<li class="has-dropdown header-bar-menu-item-left">
								<a id="menuToggle" class="header-nav-link menu-button" href="#">
									<span aria-hidden="true" class="header-nav-link-menu-icon menu-icon-open">menu</span><span aria-hidden="true" class="header-nav-link-menu-icon menu-icon-close">close</span><span class="show-for-medium-up">{{ "Menu"|t}}</span><span class="show-for-sr">{{ "Main menu"|t }}</span>
								</a>
							</li>
							<li class="header-bar-menu-item-left show-for-medium-up">
								<a class="search-toggle header-nav-link" href="#">
									<span class="header-nav-link-menu-icon" aria-hidden="true">search</span> {{"Search"|t}}
								</a>
							</li>
					</ul>
				</section>
			
			{% endif %}


				<div class="header-bar-middle">
					<h1 class="header-title">
						<a class="header-logo-link" href="/">
							<span class="show-for-sr">{{ siteName }}"</span>
							{# include logo inline so it can be changed with CSS and doesn't require additional network call #}
							{% include "_images/logo_" ~ craft.app.language ~ ".svg" %}
						</a>
					</h1>
				</div>

				{% if hideMainMenu is not defined %}
				<div>
				<ul class="menu-inline-list">
					<li class="show-for-medium-up header-bar-menu-item-right">
						<a id="hideThisLink" class="header-nav-link">{{"Hide this"|t}}<span class="header-nav-link-menu-icon" aria-hidden="true">remove_red_eye</span>
						</a>
					</li>
					{% if not craft.app.user.isGuest %}
					<li class="show-for-medium-up header-bar-menu-item-right">
						<a href="{{ logoutUrl }}" class="header-nav-link">{{"Sign out"|t}}<span class="header-nav-link-menu-icon" aria-hidden="true">arrow_forward</span>
						</a>
					</li>
					{% endif %}
					<li class="header-bar-menu-item-right hide-for-medium-up">
						<a class="search-toggle header-nav-link" href="#">
							<span class="header-nav-link-menu-icon">search</span>
						</a>
					</li>
				</ul>
				</div>
				{% endif %}
		</div>
	</nav>
	<div class="menu-container">
		<div class="menu-row">
		<div class="menu-container-column">
		<ul id="menuList"  class="menu-list">
				{% include "_partials/main-menu-items.twig" %}
			</ul>
		</div>
		</div>
	</div>

	<div id="searchFormContainer" class="search-form__container hide">
			<form action="{{ url('search/results') }}">
				<div class="row">
					<div class="small-12 column search-input-container">
							<label for="searchInput" class="show-for-sr">{{ "Search" |t}}</label>
							<input id="searchInput" class="search-form__input" type="search" name="q">
							<a class="link--dark search-toggle search-form-close-button" href="#">
								<span class="header-nav-link-menu-icon" aria-hidden="true">close</span>
							</a>
					</div>
				</div>
			</form>
	</div>
</header>