{% set aboutPage = craft.entries.slug("about-this").one() %}
		
		<div class="hide-for-medium-up">
			<img class="" src="/resources/images/homepage-small.png" />
		</div>

		<h1 class="home-heading">
		{{ "Welcome" |t }}
		</h1>
		<p class="home-heading-subtext">{{"welcome-message"|t}}</p>

		<a href="{{ url('profile/questions-self') }}" class="button home-button">{{ "Get started here" | t}}</a>
		<p>
		{{"Watch our video in" |t}} <a class="link link__promo" href="{{ aboutPage.url }}">{{ aboutPage.title}}</a>
		</p> 
