
{% set helpPage = craft.entries.slug("where-to-get-help").one() %}
{% set selfHelpPage = craft.entries.slug("self-help").one() %}
{% set depressionPage = craft.entries.slug("what-is-depression").one() %}

		{% if summaryScore > 5 %}
			{% set welcomeImage = "home1" %}
			{% set welcomeTitle = 'welcome-summary-good' %}
		{% elseif summaryScore >= -5 %}
			{% set welcomeImage = "home2" %}
			{% set welcomeTitle = 'welcome-summary-normal' %}
		{% else %}
			{% set welcomeImage = "homepage-image1" %}
			{% set welcomeTitle = 'welcome-summary-bad' %}
		{% endif %}

<div class="show-for-medium-up">
	{% for image in entry.image.all() %}
		<img src="/resources/images/{{ welcomeImage }}.svg" alt="*">
	{% endfor %}
</div>
<div class="home-top-section">

		<div class="hide-for-medium-up">
			<img  class="home-welcome-image-small" src="/resources/images/{{ welcomeImage }}.svg"  alt="*" />
		</div>

		<h1 class="home-heading">
			{{ welcomeTitle | t}}
		</h1>

		{% if lastViewedModule is defined %}
			{% if summaryScore > 5 %}
				<p class="home-heading-subtext">{{"Keep doing the things you find helpful"|t}}, {{"you last visited"|t}} <a class="link link__promo" href="{{ lastViewedModule.url }}">{{ lastViewedModule.parent.title }}</a></p>
			{% elseif summaryScore >= -5 %}
				<p class="home-heading-subtext">
					{{ "Try the self help sections and talk to somebody you trust"|t}}, {{"you last visited" | t}} <a class="link link__promo" href="{{ lastViewedModule.url }}">{{ lastViewedModule.parent.title }}</a>
				</p>
			{% else %}
				<p class="home-heading-subtext">{{"Talk to somebody you trust, see"|t}} <a class="link link__promo" href="{{ helpPage.url }}">{{ helpPage.title}}</a></p>
			{% endif %}

		{% else %}
			{% if summaryScore > 5 %}
					<p class="home-heading-subtext">{{"Why not start with"|t}} <a class="link link__promo" href="{{ depressionPage.url }}">{{ depressionPage.title}}</a></p>
			{% elseif summaryScore >= -5 %}
					<p class="home-heading-subtext">{{"Try the self help sections and talk to somebody you trust"|t}}. <a class="link link__promo" href="{{ selfHelpPage.url }}">{{ selfHelpPage.title}}</a></p>
			{% else %}
					<p class="home-heading-subtext">{{"Talk to somebody you trust, see"|t}} <a class="link link__promo" href="{{ helpPage.url }}">{{ helpPage.title}}</a></p>
			{% endif %}
		{% endif %}

    <div class="button-container">
      <a class="button home-button" href="{{ url('profile/questions-self') }}" class="button">{{ "Update mood" | t}}</a>
      <a class="button home-button" href="{{ url('profile/goals') }}" class="button">{{ "Set goals" | t}}</a>
    </div>
</div>