	{% if categoryName is defined and fieldName is defined and categoryName != "" %}
		<div class="user-category-list-container">
			{% set navCategories = craft.categories.group(categoryName).all() %}

			{% set itemCount = 0 %}
			{% nav category in navCategories %}
				{% set categoryMatchesModule =  category.moduleList.ids() | indexOf(entry.id) %}
				{% if showAllCats is defined or category.moduleList is not defined or category.moduleList |length == 0 or categoryMatchesModule != -1 %}
					{% set itemCount = itemCount + 1 %}
				{% endif %}
			{% endnav %}

			{% set itemsPerColumn = itemCount/3 %}
			{% set maxItemsPerColumn = itemsPerColumn|round(0,'ceil') %}

			{% set middleColumnNotMax = itemCount % 3 == 1 %}

			{% set loopCount = 0 %}
			{% nav category in navCategories %}
				{% set hasCategory = null %}
				{% if  currentUser[fieldName] is defined %}
					{% set currentUserCategories = currentUser[fieldName].all() %}
					{% for myCategory in currentUserCategories %}
						{% if myCategory.id == category.id %}
							{% set hasCategory = 'true' %}
						{% endif %}
					{% endfor %}
				{% endif %}

				{% set categoryMatchesModule =  category.moduleList.ids() | indexOf(entry.id) %}
				{% if showAllCats is defined or category.moduleList is not defined or category.moduleList |length == 0 or categoryMatchesModule != -1 %}

						{% set loopCount = loopCount + 1 %}

						{% set isStartOfColumn = loopCount % maxItemsPerColumn == 1 %}
						{% set isEndOfColumn = loopCount % maxItemsPerColumn == 0 %}

						{% if itemCount < 3 %}
							{% set isStartOfColumn = true %}
							{% set isEndOfColumn = true %}
						{% endif %}

						{% if isStartOfColumn %}
							<ul class="user-category-list">
						{% endif %}

						<li class="user-options-category__item profile-user-options__category {% if loopCount == 1 %}profile-user-options__category--first {% endif %} {% if loopCount == itemCount %}profile-user-options__category--last {% endif %} {% if isStartOfColumn %}profile-user-options__category--column-start{% endif %} {% if isEndOfColumn %}profile-user-options__category--column-end{% endif %} {% if hasCategory is not null %}profile-user-options__mycategory{% else %}profile-user-options__notmycategory{% endif %} input-custom-checkbox-container">				        	
							<input id="profileInput{{ fieldName | kebab }}{{ category.id }}" class="profile-user-options__input user-category-input" type="checkbox" {% if hasCategory %}checked{% endif %} name="profileQuestionCategories[]" value="{{ category.id }}" data-title="{{ category.title | escape('html_attr') }}" data-url="{{ category.urlAddress | escape('html_attr') }}">
							<label for="profileInput{{ fieldName | kebab }}{{ category.id }}" class="profile-user-options__label profile-user-options__{{ categoryName }} profile-user-options-__{{ categoryName }}-{{ category.slug }} {% if category.showAlertMessage %}user-category-alert-label{% endif %}">{{ category.title }}</label>
							{% if category.urlAddress %}
								<div>
									<a class="user-category-list__link" href="{{ category.urlAddress }}">{{ category.urlAddress | replace('/^https?:..([^\\/]*)(.*)/', '${1}') }}</a>
								</div>
							{% endif %}
							{% if category.body %}
								<div class="user-category-list__desc">{{ category.body}}
								</div>
							{% endif %}
							
							
							{% if category.showAlertMessage %}
								<div class="user-category-alert-message">
									{{ "We recommend you speak to someone about this" | t }}
								</div>
							{% endif %}
							</li>

							{% if isEndOfColumn %}
								</ul>
							{% endif %}
			    {# {% else %}
					{% if hasCategory %}
						<li style="display:none">
							<input id="profileInput{{ fieldName | kebab }}{{ category.id }}" class="profile-user-options__input user-category-input" type="checkbox" name="fields[{{ fieldName }}][]" checked value="{{ category.id }}">
						</li>
					{% endif %}     #}
		        {% endif %}

					{% ifchildren %}
						{% children %}
					{% endifchildren %}
		    {% endnav %}

		</div>

	{% endif %}