{% extends "_layout" %}

{% set days= ['MO', 'TU', 'WE', 'TH', 'FR', 'SA', 'SU'] %}

{% block content %}

<div id="profileDashboardContainer" class="profile-goals-container">

	<div id="profileDashboardHeadingContainer" class="profile-dashboard-heading-container">

		<div class="row">
			<div  class="small-12 column">
				<div id="profileDashboardHeading" class="profile-dashboard-heading profile-dashboard--no-arrow">
					<h2 class="profile-dashboard-heading__text">{{ "Create weekly goal" |t}}</h2>
				</div>
			</div>
		</div>
  </div>

  

  						<form id="profileGoalWeeklyForm" class="profile-goals-form" method="post" accept-charset="UTF-8">
							{{ csrfInput() }}

							  <input type="hidden" name="action" value="profiler/goal/add-goal">
                <input type="hidden" name="type" value="once">
                
                  <div class="row">
								  <div  class="small-12 medium-4 column">
                    <label for="profileGoalActivity"><h3>{{ "The title of your goal"|t }}</h3></label>
								    <input id="profileGoalActivity" name="title" class="	radius profile-goals-input" type="text" placeholder="{{ "Title"|t }}">
								</div>
                </div>

                <div class="row">
                <div  class="small-4 medium-4 column">

                    <label for="onceDate"><h3>{{ "Select a day" | t}}</h3></label>
                    <input class="profile-goals-date-input" type="text" id="onceDate" name="onceDate" value="" maxlength="10" placeholder="{{ "e.g."|t }} {{ "now" |date("Y-m-d") }}"/>
                 </div>
                 </div>

                 <div class="row">
								  <div  class="small-4 medium-2 column">
                    <label for="setReminder">{{ "Set reminder"|t }}</label>
                  </div>
                  <div  class="small-8 medium-10 column">
								    <input id="setReminder" name="setReminder" class="	radius profile-goals-input" type="checkbox" value="true">
								  </div>
								</div>
                <div class="row">
								  <div  class="small-4 medium-2 column">
                    <label for="repeatWeekly">{{ "Repeat weekly"|t }}</label>
                  </div>
                  <div  class="small-8 medium-10 column">
								    <input id="repeatWeekly" name="repeatWeekly" class="	radius profile-goals-input" type="checkbox" value="true">
								  </div>
								</div>

                 <div class="row">
									<div class="small-12 medium-4 column">
										<button type="submit" class="button radius profile-goals-add-button">{{ 'Add goal'|t }}</button>
									</div>
									<div class="small-12 medium-4 column end">
										<a href="{{ url('profile/goals') }}" type="submit" class="button button--outline radius profile-goals-add-button">{{ 'Cancel'|t }}</a>
									</div>
                </div>

						    </form>
</div>

{% endblock %}

{% block jsBlock %}
	<script>
		$(document).ready(function(){
			opad.initJsModule(['profile-goals']);
		});
	</script>
{% endblock %}