{% extends "_layout" %}

{% block content %}

<div id="profileDashboardContainer" class="profile-goals-container">

	<div id="profileDashboardHeadingContainer" class="profile-dashboard-heading-container">

		<div class="row">

			<div  class="small-12 column">

				<div id="profileDashboardHeading" class="profile-dashboard-heading profile-dashboard--no-arrow">
					<h2 class="profile-dashboard-heading__text">{{ entry.heading }}</h2>
				</div>

			</div>
		</div>

		<div id="profileDashboardDetails" class="profile-dashboard-details ">
			<div class="profile-goal__details-container">

				<div class="row">

						<div class="profile-goals__new-container">
							<form id="profileGoalForm" class="profile-goals-form" method="post" accept-charset="UTF-8">
							{{ csrfInput() }}

							    <input type="hidden" name="action" value="profiler/goal/add-goal">

								<div  class="small-12 medium-4 column">

								    <input id="profileGoalActivity" name="activity" class="	radius profile-goals-input" type="text" placeholder="{{ "Enter a title"|t }}">
								</div>
								<div  class="small-12 medium-4 column">

									<select id="profileGoalTimesPerWeek" name="timesPerWeek" class="radius profile-goals-select">
										<option value="1">{{ "How many times per week" | t}}</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
									</select>
								</div>

								<div  class="small-12 medium-4 column">

									<button type="submit" class="button radius round profile-goals-add-button">{{ 'Add goal'|t }}</button>
								</div>
						    </form>
						</div>

				</div>
			</div>
		</div>
	</div>


	{% set goalList = craft.profiler.getAllGoals() %}

	<div class="text-center profile-goals__welcome-msg {% if goalList | length != 0 %}hide{% endif %}">
		<div class="row">
			<div class="small-12 column">
					{{ entry.body }}
			</div>
		</div>


			<div class="row">
				<div class="small-12 medium-4 column text-center">
							<img class="profile-empty-list-image" srcset="/resources/images/weeklygoals-1.png" alt="Enter activity image">
							<div class="profile-empty-list__number">
								1.
							</div>
							<div class="profile-empty-list__text">
								{{ "weeklygoals-step1" | t }}
							</div>
				</div>
				<div class="small-12 medium-4 column text-center">
							<img class="profile-empty-list-image" srcset="/resources/images/weeklygoals-2.png" alt="Enter frequency of activity image">
							<div class="profile-empty-list__number">
								2.
							</div>
							<div class="profile-empty-list__text">
								{{ "weeklygoals-step2" | t }}
							</div>
				</div>
				<div class="small-12 medium-4  end column text-center">
							<img class="profile-empty-list-image" srcset="/resources/images/weeklygoals-3.png" alt="Add activity to list image">
							<div class="profile-empty-list__number">
								3.
							</div>
							<div class="profile-empty-list__text">
								{{ "weeklygoals-step3" | t }}
							</div>
				</div>
			</div>
		</div>
	</div>



	<div class="profile-goals__list-container {% if goalList | length == 0 %}hide{% endif %}">

		<div class="profile-goals__todo-list ">

			{% for date, goals in goalList |sort ((a,b) => a[0].date <=> b[0].date ) %}
					<div class="row">
						<div class="small-12 column">
							<h3>{{ date |date("l d F") }}</h3>
						</div>
					</div>

			<div class="row">
			<div class="small-12 column">
			<ul class="profile-goals__list--todo ">
					{% for goal in goals %}
					<li data-goal-id="{{ goal.id }}" class="profile-goals__list-item" data-status="{{ goal.status }}">
							<span class="profile-goals__activity" id="profileGoalActivity">{{ goal.title}}</span>

							<a href="{{ actionUrl('actions/profiler/goal/update-goal-status', { id: goal.id, status: 'done'}) }}" class="profile-goal__action-link" data-goal-status="{{ goal.status }}"  data-goal-action="complete">{{ 'Done'|t }}</a>
							<a href="{{ actionUrl('actions/profiler/goal/update-goal-status', { id: goal.id, status: 'skipped'}) }}" class="profile-goal__action-link" data-goal-status="{{ goal.status }}"  data-goal-action="skipped">{{ 'Skip'|t }}</a>
							<a href="{{ actionUrl('profiler/goal/delete-goal', { goalId: goal.id }) }}" class="profile-goal__action-link" data-goal-action="delete">{{ 'Remove'|t }}</a>
					</li>
					{% endfor %}

				{# {% for stuffILike in stuffILikeGroup %}
								<li data-stuff-i-like-id="{{ stuffILike.id }}" class="profile-goals__list-item profile-stuff-i-like__list-item">

									<div class="row">
									<div class="small-12 column">

									{% if stuffILike.url %}
									<a class="profile-stuff-i-like__user-link" target="_blank" href="{{ stuffILike.url }}">
									{% endif %}

									<span class="profile-stuff-i-like__title">{{ stuffILike.title}}</span>
									{% if stuffILike.url %}
										</a>						
									{% endif %}
									<a href="{{ actionUrl('profiler/stuff-i-like/delete-stuff-i-like', { stuffILikeId: stuffILike.id }) }}" class="profile-goal__action-link profile-stuff-i-like__action-link" data-stuff-i-like-action="delete">{{ 'Delete'|t }}</a>
									<a href="?id={{stuffILike.id}}" class="profile-goal__action-link profile-stuff-i-like__action-link" >{{ 'Edit'|t }}</a>

									</div>
									</div>

								</li>
								{% endfor %} #}
			</ul>
			</div>
			</div>
							{% endfor %}
		</div>

	</div>


</div>

{% endblock %}

{% block jsBlock %}
	<script>
		$(document).ready(function(){
			opad.initJsModule(['profile-goals']);
		});
	</script>
{% endblock %}
