{% extends "_layout" %}

{% block content %}

{% set stuffILikeList = craft.profiler.getAllStuffILike() %}
{% set stuffILikeEdit = craft.profiler.getOneStuffILike(craft.app.request.getQueryParam('id')) %}
{% if not stuffILikeEdit %}
	{% set stuffILikeEdit = { "title":"", "url": "", "id":"", "category": "" } %}
{% endif %}

<div id="profileDashboardContainer" class="profile-goals-container">

	<div id="profileDashboardHeadingContainer" class="profile-dashboard-heading-container">

		<div class="row">

			<div  class="small-12 column">

				<div id="profileDashboardHeading" class="profile-dashboard-heading profile-dashboard--no-arrow">
					<h2 class="profile-dashboard-heading__text">{{ entry.heading }}</h2>
				</div>
			</div>
		</div>

		<div id="profileDashboardDetails" class="profile-dashboard-details ">
			<div class="profile-goal__details-container">

				<div class="row">

						<div class="profile-stuff-i-like__new-container">
								<input id="translationsForJS" type="hidden" value='{ "delete": "{{ "Delete"|t }}", "edit": "{{ "Edit"|t }}" }' />

							<form id="profileStuffILikeForm" class="profile-goals-form" method="post" action="/{{craft.app.request.fullPath}}"accept-charset="UTF-8">
							{{ csrfInput() }}

							    <input type="hidden" name="action" value="profiler/stuff-i-like/add-stuff-i-like">
									<input name="id" class="radius profile-goals-input" type="hidden" value="{{ stuffILikeEdit.id }}" required>
						

								<div  class="small-12 medium-3 column">

								    <input id="profileGoalActivity" name="title" class="radius profile-goals-input" type="text" placeholder="{{ "Enter a title"|t }}" value="{{ stuffILikeEdit.title }}" required>

								</div>

									<div  class="small-12 medium-3 column">

										<input id="profileStuffILikeUrl" name="url" class="radius profile-goals-input"  placeholder="{{ "Enter a website"| t }}" type="text" value="{{ stuffILikeEdit.url }}">

									</div>

								<div  class="small-12 medium-3 column">
									<select name="mixedCategory" class="profile-goals-select">
										<option></option>
											{% for category in stuffILikeList.categoryLookup -%}
													<option
														value="{{ category.id }}"
														{% if stuffILikeEdit.category is defined and category.id is same as(stuffILikeEdit.category) %}selected{% endif %}
													>
														{{ category.title }}
													</option>
											{% endfor %}
									</select>

								</div>
								
								<div class="small-12 medium-3 column">
									<button type="submit" class="button radius round profile-goals-add-button">{{ 'Save'|t }}</button>
								</div>
						    </form>

					</div>
				</div>


			</div>
		</div>

	</div>

	<div class="text-center profile-goals__welcome-msg {% if stuffILikeList | length != 0 %}hide{% endif %}">

		<div class="row">
			<div class="small-12 column">
					<div class="light-heading profile-goals__welcome-msg__heading">
						<p>{{ "Add some stuff"| t}}</p>
					</div>
			</div>
		</div>

		<div class="row">
			<div class="small-12 medium-4 column text-center">
						<img class="profile-empty-list-image" srcset="/resources/images/stuff-i-like-1.png" alt="Enter activity image">
						<div class="profile-empty-list__number">
							1.
						</div>
						<div class="profile-empty-list__text">
							{{ "stuffilike-step1" | t }}
						</div>
			</div>
			<div class="small-12 medium-4 column text-center">
						<img class="profile-empty-list-image" srcset="/resources/images/stuff-i-like-2.png" alt="Enter frequency of activity image">
						<div class="profile-empty-list__number">
							2.
						</div>
						<div class="profile-empty-list__text">
							{{ "stuffilike-step2" | t }}
						</div>
			</div>
			<div class="small-12 medium-4  end column text-center">
						<img class="profile-empty-list-image" srcset="/resources/images/stuff-i-like-3.png" alt="Add activity to list image">
						<div class="profile-empty-list__number">
							3.
						</div>
						<div class="profile-empty-list__text">
							{{ "stuffilike-step3" | t }}
						</div>
			</div>
		</div>

	</div>

	<div class="profile-stuff-i-like__list-container {% if stuffILikeList | length == 0 %}hide{% endif %}">

		<div class="profile-stuff-i-like__todo-list">
			{% for stuffILikeGroup in stuffILikeList.userStuffILike %}

					<div class="row">
						<div class="small-12 column">
							<h3>
								{% if stuffILikeGroup[0].category %}
									{% set presetCat = stuffILikeList.categoryLookup| filter(c => c.id is same as(stuffILikeGroup[0].category) ) |first %}
									{{ presetCat.title }}
								{% else %}
									{% if stuffILikeGroup[0].userCategory %}
										{{ stuffILikeGroup[0].userCategory }}		
									{% else %}
										{{ "Uncategorised"|t }}
									{% endif %}
								{% endif %}
							</h3>
						</div>
					</div>
					<div class="row">
						<div class="small-12 column">
						<ul class="profile-stuff-i-like__list profile-stuff-i-like__list--{{ stuffILikeGroup[0].category }}{{stuffILikeGroup[0].userCategory}}">
								{% for stuffILike in stuffILikeGroup %}
								<li data-stuff-i-like-id="{{ stuffILike.id }}" class="profile-goals__list-item profile-stuff-i-like__list-item">

									<div class="row">
									<div class="small-12 column">

									{% if stuffILike.url %}
									<a class="profile-stuff-i-like__user-link" target="_blank" href="{{ stuffILike.url }}">
									{% endif %}

									<span class="profile-stuff-i-like__title">{{ stuffILike.title}}</span>
									{% if stuffILike.url %}
										</a>						
									{% endif %}
									<a href="{{ actionUrl('profiler/stuff-i-like/delete-stuff-i-like', { stuffILikeId: stuffILike.id }) }}" class="profile-goal__action-link profile-stuff-i-like__action-link" data-stuff-i-like-action="delete">{{ 'Delete'|t }}</a>
									<a href="?id={{stuffILike.id}}" class="profile-goal__action-link profile-stuff-i-like__action-link" >{{ 'Edit'|t }}</a>

									</div>
									</div>

								</li>
								{% endfor %}
						</ul>
						</div>
					</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}

{% block jsBlock %}
	<script>
		$(document).ready(function(){
			opad.initJsModule(['profile-stuff-i-like']);
			$('.profile-goals-select').select2({
				placeholder:'{{"Category" |t }}',
				tags: true
			});
		});
	</script>
{% endblock %}
