<div class="module-block image-large-content-block">
	<div class="row">
		<div class="small-12 columns">

			<h2 class="large-heading show-for-medium-up">{{ entry.contentBlockHeading }}</h2>
			<div class="content-block content-block-large-paragraph content-block-text-container">
				{{ entry.contentBlockText }}
			</div>

		</div>
	</div>

	<div class="row">
		<div class="small-12 column">
			<div class="content-block-image-container">
				{% if entry.contentBlockImage.one() %}
					{% set image = entry.contentBlockImage.one() %}
					{% if image.type == "image" %}

					<img class="image-large-content-block-image"
							alt="{{image.imageAlt}}"
							src="{{ image.imageFile.one().getUrl() }}"
					>

					{% endif %}
				{% endif %}
			</div>
		</div>

	</div>

	<div class="two-column-content-block">
		<div class="row">
			<div class="small-12 medium-4 columns">
				{% if  entry.secondaryImage.one() %}
					<img class="content-block-left-col-image" src="{{ entry.secondaryImage.one().getUrl() }}">
				{% endif %}
				<div class="content-block content-block-left">{{ entry.quote }}</div>
				<div class="content-block">{{ entry.quoteSource }}</div>
			</div>
			<div class="small-12 medium-8 columns">
				<div class="content-block content-block-large-paragraph intro-content-block-text">{{ entry.body }}</div>

			</div>
		</div>
	</div>

	{% include "_partials/collapsible-content" %}
</div>