<div class="module-block image-large-content-block">
	<div class="row">
		<div class="small-12 columns">

			<h2 class="large-heading show-for-medium-up">{{ entry.contentBlockHeading }}</h2>
			<div class="content-block content-block-large-paragraph content-block-text-container">
				{{ entry.contentBlockText }}
			</div>

		</div>
	</div>

	<div class="row">
		<div class="small-12 column">
			<div class="content-block-image-container">
				{% if entry.contentBlockImage.one() %}
					{% set image = entry.contentBlockImage.one() %}
					{% if image.type == "image" %}

					<img class="image-large-content-block-image"
							alt="{{image.imageAlt}}"
							src="{{ image.imageFile.one().getUrl() }}"
					>

					{% endif %}
				{% endif %}
			</div>
		</div>

	</div>
	
	<div class="row">
		{% if entry.secondaryImage.one() or entry.quote %}
			<div class="small-12 medium-4 column">
				<div class="content-block-aside">
					{% set secondaryImage = entry.secondaryImage.one() %}
					{% if secondaryImage %}
						<img class="content-block-aside-image"
							alt="{{secondaryImage.imageAlt}}"
							src="{{ secondaryImage.url }}"
						>	
					{% endif %}
					{% if entry.quote %}
						<blockquote  class="content-block-aside-quote" cite="{{entry.quoteSource}}">{{ entry.quote}}</blockquote>
					{% endif %}
				</div>
			</div>
			<div class="small-12 medium-8 column">
				<div class="content-block content-block-main-text">
					{{ entry.body }}
				</div>
			</div>
		{% else %}
			<div class="small-12 column">
				<div class="content-block content-block-main-text">
					{{ entry.body }}
				</div>
			</div>
		{% endif %}
	</div>

	{% include "_partials/collapsible-content" %}
</div>