
<div class="module-block intro-content-block">
	<div class="row show-for-medium-up">
	<div class="small-12 columns">
		<h2 class="large-heading">{{ entry.introContentBlockHeading }}</h2>
	</div>
	</div>

	<div class="row intro-video-row">
	<div class="small-12 column intro-video-column">
		
		{% set image = entry.introContentBlockImage.all()|first %}	
		<div class="intro-content-block-media-container">
			<div class="intro-content-block-image ">
			 	{% if image %}
					<img 	srcset="{{ image.imageFile.one().getUrl('fullWidthMedium') }} 768w,
						{{ image.imageFile.one().getUrl('fullWidthLarge') }} 1024w"
						sizes="(min-width: 49em) 100vw, 100vw"
						alt="{{image.imageAlt}}"
						src="{{ image.imageFile.one().getUrl('fullWidthMedium') }}">
			 	{% endif %}
			</div>


			{% if entry.video | length %}
			{% set video = entry.video.all()|first %}
			<div class="intro-content-block-video-container non-js-hide">
				<div id="videoElement-{{entry.slug}}" class="intro-content-block-video">Loading the player...</div>

				<script type="text/javascript">
				opadVideoEl = "videoElement-{{entry.slug}}";
				opadVideoImage = "{{ image.imageFile.one().getUrl('fullWidthMedium') }}";
				opadVideoUrl_mp4 = "{{ video.url }}";
				opadVideoUrl_hls = "{{ video.url | replace({
					'.mp4':'.m3u8',
					'/video_mp4': '/video_hls3'
					}) }}";
				</script>
			</div>
			{% endif %}

		</div>
	</div>
	</div>

	<div class="row">
			<div class="small-12 medium-4 columns">
				{% if  entry.secondaryImage.one() %}
					<img class="content-block-left-col-image" src="{{ entry.secondaryImage.one().getUrl() }}">
				{% endif %}
				<div class="content-block content-block-left">{{ entry.quote }}</div>
				<div class="content-block">{{ entry.quoteSource }}</div>
			</div>
			<div class="small-12 medium-8 columns">
		<div class="content-block content-block-large-paragraph intro-content-block-text">{{ entry.introContentBlockText }}</div>

			</div>
		</div>


	{% include "_partials/collapsible-content" %}
</div>