
	<div class="profile-dashboard__details__item">

	<div class="row">
	<div class="small-12 column">
					<button class="round profile-dashboard__item-button-right profile-dashboard__submit-button" type="submit">{{ "Submit"|t }}</button>
					<button class="non-js-hide round profile-dashboard__item-button-right profile-dashboard__edit-button" type="button"><span class="profile-dashboard__edit-button-edit-text">{{"Edit"|t}}</span><span class="profile-dashboard__edit-button-cancel-text">{{ "Close"|t }}</span></button>
					<h4 class="profile-dashboard-subheading">{{ categoryTitle |t }}</h4>

					{% include "_partials/dashboard-user-defined-options.twig" %}


	</div>
	</div>

	<div class="profile-dashboard__new-item profile-dashboard__edit-only">
		<div class="row">
			<div class="small-12 medium-4 column">
				<input class="radius feature-block-option-mylist-input" placeholder="{{ 'Item'|t }}">
			</div>
			<div class="small-12 medium-4 column end">
				<button class="round feature-block-option-mylist-add">{{ "Add"|t }} {{ categoryName |t}}</button>
			</div>
		</div>
	</div>

	</div>
