	{% set footerEntryList = craft.entries.slug('footer-v2') %}
	{% set entry = footerEntryList.one() %}

	<div class="row">

		{% set contentBlockItems = entry.contentBlockItems.all() %}
		{% for item in contentBlockItems %}

				<div class="small-12 medium-4 column ">
					<div>

						<h4 class="profile-dashboard-module-heading invert-module-block-themed">

						<a href="{{ item.linkTo.one().url }}">
							{% set image = item.imageFile|first %}
							<div class="profile-dashboard-module-image-container">
							{% if image %}
							   <img class="profile-dashboard-module-image" src="{{ image.url }}" alt="{{ item.imageAlt }}" />
							{% endif %}
							</div>

						{{ item.heading }}
						</a>

						</h4>
						<div class="profile-dashboard-module-description">
							{{ item.text }}
						</div>

					</div>

				</div>

		{% endfor %}

		{% if craft.app.language == "en-GB" %}
			{% set localeUrl = craft.app.config.general.siteUrl['cy_gb'] %}
		{% else %}
			{% set localeUrl = craft.app.config.general.siteUrl['en_gb'] %}
		{% endif %}

		<div class="small-12 medium-4 column ">
			<div>

				<h4 class="profile-dashboard-module-heading invert-module-block-themed">

				<a href="{{ localeUrl }}">
					<div class="profile-dashboard-module-image-container">
					   <img class="profile-dashboard-module-image" src="{{ "/resources/images/footer-language-icon-" ~ craft.app.language ~ ".png" }}" alt="*" />
					</div>

				{{ "Yn Gymraeg" |t}}
				</a>

				</h4>
				<div class="profile-dashboard-module-description">
					{{ "Mae’r pecyn hwn hefyd ar gael yn Saesneg" | t}}
				</div>
				
			</div>

		</div>

	</div>
