					<h1 class="light-heading home-heading">
					{{ entry.heading }}
					</h1>
					<span class="link link__video"><span class="ss-icon ss-play link--dark__icon"></span><a id="videoPlay" href="#" class="link--dark">{{ "Play introduction video" | t }}</a></span>

					<ul class="home-button-list">
						<li>

							<a href="{{ url('profile/dashboard') }}" class="button round home-button">{{ "I'm here for myself" | t}}</a>
						</li>

						<li>
							<a href="{{ url('profile/dashboard') }}" class="button round home-button">{{ "I'm here for someone else" | t}}</a>
						</li>

					</ul>