{% extends "_layout" %}

{% block content %}

<div class="row">
<div class="column">


	{% set query = craft.request.getParam('q') %}
	{% set entries = craft.entries.search(query).orderBy('score').all() %}



	{% if entries|length %}
	
		<h1 class="search-results__heading">{{ entries|length }} {{ "Search results for"|t}} <strong>'{{ query }}'</strong></h1>

	    <ul class="search-results__list">
	        {% for entry in entries %}
	            <li class="search-results__list__entry">
							{% if entry.level == 3 %}
								{% set parentEntry = entry.parent %}
								<a href="{{ parentEntry.parent.url }}">{{ parentEntry.parent.title }}</a> > <a href="{{ parentEntry.url }}">{{ parentEntry.title }}</a> > <span> {{ entry.title }}</span>
							{% else %}

								{% if entry.level == 2 %}
									{% set parentEntry = entry.parent %}
									<a href="{{ parentEntry.url }}">{{ parentEntry.title }}</a> > 
								{% endif %}
								<a href="{{ entry.url }}">{{ entry.title }}</a>
							{% endif %}
								{% if entry.contentBlockText %}
									{{ entry.contentBlockText }}
								{% else %}
									{% if entry.level == 1 %}	            	
										{{ entry.body}}
									{% endif %}
								{% endif %}
	            </li>
	        {% endfor %}
	    </ul>
	{% else %}
		<h1 class="search-results__heading">{{ "No search results found for"|t}} <strong>'{{ query }}'</strong></h1>
	{% endif %}
</div>
</div>

{% endblock %}