<div class="module-block four-image-click-to-open-content-block" data-modules="four-image-click-to-open">
	<div class="row">
		<div class="small-12 columns">

			<h2 class="large-heading">{{ entry.contentBlockHeading }}</h2>
			<div class="content-block-large-paragraph content-block-text-container">
				{{ entry.contentBlockText }}
			</div>

		</div>
	</div>

	<div class="row">
			<div class="content-block-sub-item-container content-block-same-height">
				{% for item in entry.contentBlockItems.all() | slice(0,4) %}
					<div class="small-12 medium-3 custom-grid__tablet-6 column">

						<div class="content-block-sub-item four-image-click-to-open-sub-item  {% if loop.first %}four-image-click-to-open-sub-item__open{% endif %}" data-click-to-open-id="{{ item.id }}">
							{% if item.imageFile and item.imageFile.one() %}
								<img class="content-block-sub-item__image" src="{{ item.imageFile.one().getUrl('medium') }}" alt="{{ item.imageAlt }}">
							{% endif %}						
							<h3 class="content-block-subheading">{{ item.heading }}</h3>
							
								<div class="hide-for-medium-up content-block-click-to-open--text {% if loop.first %}content-block-click-to-open--text__open{% endif %}">
									{{ item.text }}
								</div>
						</div>


					</div>
				{% endfor %}
			</div>
	</div>
	<div class="module-block module-block-themed show-for-medium-up four-image-click-to-open-module-block">
		<div class="row">
		<div class="small-12 column">
			<div class="content-block-click-to-open">
				{% for item in entry.contentBlockItems.all() | slice(0,4) %}
					<div id="contentBlockClickToOpen-{{ item.id }}" class="content-block-sub-item content-block-click-to-open--text {% if loop.first %}content-block-click-to-open--text__open{% endif %}">
					{{ item.text }}
					</div>
				{% endfor %}
			</div>
		</div>
		</div>
	</div>

	{% include "_partials/collapsible-content" %}
	
</div>
