{% for post in posts %}
<div class="blog-listing-item">
  <div class="row">
    <div class="small-4 medium-3 column">
    {% if post.featureImage | length %}
      {% for image in post.featureImage.all() %}
        <img class="blog-image-feature" src="{{ image.getUrl() }}" alt="{{ image.title }}" />
      {% endfor %}
    {% endif %}
    </div>
    <div class="small-8 medium-9 columns">
        <a href="{{ post.url }}" class="link">
          <h3 class="blog-listing-title">{{ post.title }}</h3>
        </a>
        <div>{{ post.summary }}</div>
         <a href="{{ post.url }}" class="blog-listing-more-link">{{ "More" | t}}</a>
    </div>
  </div>
</div>
{% endfor %}